{% include 'header.html' %}



<!-- page 404 -->
<div class="page-404 section--bg" data-bg="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-404__wrap">
                    <div class="page-404__content">
                        <h1 class="page-404__title">🚧</h1>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <p class="page-404__text">{{ message }}</p>
                        {% endfor %}
                        {% else %}
                        <p class="page-404__text">The page you are looking for not available!</p>
                        {% endif %}
                        {% endwith %}
                        <a href="{{ url_for('main.dashboard') }}" class="page-404__btn">Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page 404 -->



{% include 'footer.html' %}