<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Daily Diary">
    <meta property="og:description" content="Log Your Day">
    <meta property="og:image" content="https://i.imgur.com/AdAt5lq.png">
    <!-- CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/main.css">


    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" sizes="32x32">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.png') }}">


    <meta name="author" content="aditya76-git">
    <title>[PAGE_INFO] - Daily Diary</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

        body {
            font-family: 'Montserrat', cursive !important;
        }

        #editor .ql-editor {
            font-family: 'Montserrat', cursive !important;
        }
    </style>
</head>

<body>

    <!-- header -->
    <header class="header">
        <div class="header__content">
            <!-- header logo -->
            <a href="" class="header__logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            </a>
            <!-- end header logo -->

            <!-- header menu btn -->
            <button class="header__btn" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- end header menu btn -->
        </div>
    </header>
    <!-- end header -->