{% include 'header.html' %}


{% include 'sidebar.html' %}


<main class="main">
    <div class="container-fluid" bis_skin_checked="1">
        <div class="row" bis_skin_checked="1">


            <!-- main title -->
            <div class="col-12" bis_skin_checked="1">
                <div class="main__title" bis_skin_checked="1">
                    <h2></h2>

                    <span class="main__title-stat"></span>

                    <div class="main__title-wrap" bis_skin_checked="1">

                    </div>
                </div>
            </div>
            <!-- end main title -->
            <div class="col-12" bis_skin_checked="1">

                <div class="col-12" bis_skin_checked="1">
                    <div class="comments" bis_skin_checked="1">
                        <ul class="comments__list">
                            <li class="comments__item">
                                <div class="comments__autor" bis_skin_checked="1">
                                    <img class="comments__avatar" src="[PROFILE_PHOTO]" alt="">
                                    <span class="comments__name">[POST_TITLE]</span>
                                    <span class="comments__time">[POST_CREATED_TIME]</span>
                                    <span class="reviews__rating reviews__rating--green">[POST_EMOJI]</span>
                                </div>
                                <p class="comments__text">[POST_DESCRIPTION]</p>

                            </li>


                        </ul>


                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

{% include 'footer.html' %}